<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Commander" value="\Signatures\commander_signature.jpg"/>
    <add key="Soldier" value="\Signatures\soldier_signature.jpeg"/>
  </appSettings>
</configuration>